@page
@model LogInModel
@{
    ViewData["Title"] = "Log Ind";
}

<h2>Log ind</h2>

@if (ViewData.ModelState.Any(m => m.Key == string.Empty))
{
    <div class="alert alert-danger" role="alert">
        @foreach (var modelState in ViewData.ModelState)
        {
            if (modelState.Key == string.Empty)
            {
                foreach (var error in modelState.Value.Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            }
        }
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="username">Brugernavn:</label>
        <input type="text" class="form-control" id="username" asp-for="Input.Username" required>
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="password">Adgangskode:</label>
        <input type="password" class="form-control" id="password" asp-for="Input.Password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Log Ind</button>
</form>