@page
@model CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}
<img class="background" src="/lib/images/Logginn.jpg" width="15%" />

<h2>Opret konto som studerende</h2>

@if (ViewData.ModelState.Any(m => m.Key == string.Empty))
{
    <div class="alert alert-danger" role="alert">
        @foreach (var modelState in ViewData.ModelState)
        {
            if (modelState.Key == string.Empty)
            {
                foreach (var error in modelState.Value.Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            }
        }
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="brugernavn">Brugernavn:</label>
        <input type="text" class="form-control" id="brugernavn" asp-for="Input.Brugernavn" required>
        <span asp-validation-for="Input.Brugernavn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="adgangskode">Adgangskode:</label>
        <input type="password" class="form-control" id="adgangskode" asp-for="Input.Adgangskode" required>
        <span asp-validation-for="Input.Adgangskode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>


<h2>Opret konto som virksomhed</h2>

@if (ViewData.ModelState.Any(m => m.Key == string.Empty))
{
    <div class="alert alert-danger" role="alert">
        @foreach (var modelState in ViewData.ModelState)
        {
            if (modelState.Key == string.Empty)
            {
                foreach (var error in modelState.Value.Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            }
        }
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="brugernavn">Brugernavn:</label>
        <input type="text" class="form-control" id="brugernavn" asp-for="Input.Brugernavn" required>
        <span asp-validation-for="Input.Brugernavn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="adgangskode">Adgangskode:</label>
        <input type="password" class="form-control" id="adgangskode" asp-for="Input.Adgangskode" required>
        <span asp-validation-for="Input.Adgangskode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>