@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til StudDex</h1>
    <p>Her hjælper vi dig, med din ynglings arbejdsplads, som din studiejob.
        En verden med massere muligheder, her findes der ingen uligheder<a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>


<h1 class="text-black">StudDex</h1>
<p class="text-black">Dette er en eksempel Joutiar.</p>



