@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til StudieIndex</h1>
        Her hjælper vi dig, med din ynglings arbejdsplads, som din studiejob.
        En verden med massere af muligheder, skaber unikke omstændigheder<a href="https://docs.microsoft.com/aspnet/core"></a>.</>
        <img class="background" src="/lib/images/StudDexBackground.jpg"/>
        
</div>
<h1 class="text-black"></h1>
<p class=".</p>



